<div class="row">
    <div class="col-md-12">
        <h2>Items</h2>
        <hr />
        {{#if items.length}}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Title</th>
                        <th>Post Date</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Published</th>
                        <th></th> <!-- New column for remove links -->
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{postDate}}</td>
                        <td>{{price}}</td>
                        <td>{{category}}</td>
                        <td>{{published}}</td>
                        <td>
                            <form action="/Items/delete/{{id}}" method="GET">
                                <button type="submit" class="btn btn-danger">remove</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
        <div class="col-md-12 text-center">
            <strong>No results</strong>
        </div>
        {{/if}}
    </div>
</div>
